Repository fadhelmurphy/fadhelmurphy.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, eslint, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "eslint"],
  "**/*.ts?(x)": "tsc --noEmit --pretty",
  "*.json": ["prettier --write"]
}

chore: eslint
  .lintstagedrc.json
  lint-staged.config.js
Due: eslint --fix, eslint, prettier --write

chore: eslint
  .eslintrc.json
  .lintstagedrc.json
Due: prettier --write

ci: eslint & token
  .github/workflows/deploy-astro-gatsby.yml
Due: none

chore: eslint update
  .lintstagedrc.json
  lint-staged.config.js
Due: eslint --fix, eslint, prettier --write

ci: asw
  .github/workflows/deploy-astro-gatsby.yml
Due: none

eslint: asw
  lint-staged.config.js
Due: eslint --fix, eslint

ci: update asset path
  .github/workflows/deploy-astro-gatsby.yml
Due: none

ci: with gatsby config
  .github/workflows/deploy-astro-gatsby.yml
Due: none

ci: remove checkout
  .github/workflows/deploy-astro-gatsby.yml
Due: none

ci: nambahin hasil build
  .github/workflows/deploy-astro-gatsby.yml
Due: none

ci: typo
  .github/workflows/deploy-astro-gatsby.yml
Due: none

ci: change step
  .github/workflows/deploy-astro-gatsby.yml
Due: none

ci: change zip to tar
  .github/workflows/deploy-astro-gatsby.yml
Due: none

feat: manual versioning
  .github/workflows/deploy-astro-gatsby.yml
Due: none

feat: manual versioning
  .github/workflows/main.yml
Due: none

fix: card height
  .eslintrc.json
  components/portoCard.tsx
  src/assets/global.css
Due: eslint --fix, eslint, prettier --write

fix: card height
  components/portoCard.tsx
Due: eslint --fix, eslint

feat: add article
  .github/workflows/main.yml
  src/pages/posts/09-09-2023-membuat-ui-component-library/index.md
  yarn.lock
Due: none

feat: add article
  src/pages/posts/09-09-2023-membuat-ui-component-library/index.md
Due: none

ci: update ci
  .github/workflows/deploy-astro-gatsby.yml
Due: none

ci: update article
  .github/workflows/main.yml
Due: none

style: 3d assets
  containers/sections/default.tsx
  containers/sections/portfolio.tsx
  containers/sections/section.module.scss
  package.json
  public/home/circle.png
  public/home/donut.png
  src/assets/global.css
  tailwind.config.cjs
  yarn.lock
Due: eslint --fix, eslint, prettier --write

style: add 3d assets education
  containers/sections/education.tsx
  containers/sections/section.module.scss
  public/home/circle-yellow.png
  tailwind.config.cjs
Due: eslint --fix, eslint

feat: add 3d assets and pattern
  consts/timeline.tsx
  containers/sections/portfolio.tsx
  containers/sections/section.module.scss
  public/home/bg-porto.png
  public/home/circle-m-blur.png
  public/home/circle-yellow-m-blur.png
  public/home/circle-yellow.png
  src/assets/global.css
  tailwind.config.cjs
Due: eslint --fix, eslint
